Flow 1.json
[
    {
        "id": "eb1b2d31.383eb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "57ae4d8c.6567b4",
        "type": "http in",
        "z": "eb1b2d31.383eb",
        "name": "",
        "url": "/pin4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "52b7dea8.1c44b"
            ]
        ]
    },
    {
        "id": "871cef0f.16fc5",
        "type": "rpi-gpio in",
        "z": "eb1b2d31.383eb",
        "name": "GPIO4",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "21f62e7c.3040a2"
            ]
        ]
    },
    {
        "id": "21f62e7c.3040a2",
        "type": "function",
        "z": "eb1b2d31.383eb",
        "name": "Set GPIO",
        "func": "global.set(\"GPIO\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "16fcd112.65d9ff",
                "f368ae40.ac916"
            ]
        ]
    },
    {
        "id": "52b7dea8.1c44b",
        "type": "function",
        "z": "eb1b2d31.383eb",
        "name": "Get GPIO",
        "func": "msg.payload = global.get(\"GPIO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "16fcd112.65d9ff"
            ]
        ]
    },
    {
        "id": "16fcd112.65d9ff",
        "type": "debug",
        "z": "eb1b2d31.383eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "f368ae40.ac916",
        "type": "http response",
        "z": "eb1b2d31.383eb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 120,
        "wires": []
    }
]