flows.json
[
    {
        "id": "72b9bf5e.230a6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb1b2d31.383eb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a252a40a.59e618",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4746f484.cec88c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "57ae4d8c.6567b4",
        "type": "http in",
        "z": "eb1b2d31.383eb",
        "name": "",
        "url": "/pin4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "52b7dea8.1c44b"
            ]
        ]
    },
    {
        "id": "871cef0f.16fc5",
        "type": "rpi-gpio in",
        "z": "eb1b2d31.383eb",
        "name": "GPIO4",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "21f62e7c.3040a2"
            ]
        ]
    },
    {
        "id": "21f62e7c.3040a2",
        "type": "function",
        "z": "eb1b2d31.383eb",
        "name": "Set GPIO",
        "func": "global.set(\"GPIO\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "16fcd112.65d9ff",
                "f368ae40.ac916"
            ]
        ]
    },
    {
        "id": "52b7dea8.1c44b",
        "type": "function",
        "z": "eb1b2d31.383eb",
        "name": "Get GPIO",
        "func": "msg.payload = global.get(\"GPIO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "16fcd112.65d9ff"
            ]
        ]
    },
    {
        "id": "16fcd112.65d9ff",
        "type": "debug",
        "z": "eb1b2d31.383eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "f368ae40.ac916",
        "type": "http response",
        "z": "eb1b2d31.383eb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "bc6192dc.b7872",
        "type": "http in",
        "z": "4746f484.cec88c",
        "name": "",
        "url": "/pin4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "7d9b4a12.27a984"
            ]
        ]
    },
    {
        "id": "9b6c390f.47d5f8",
        "type": "rpi-gpio in",
        "z": "4746f484.cec88c",
        "name": "GPIO4",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "ee25ebe9.d31a48"
            ]
        ]
    },
    {
        "id": "ee25ebe9.d31a48",
        "type": "function",
        "z": "4746f484.cec88c",
        "name": "Set GPIO",
        "func": "global.set(\"GPIO\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "1ae34d13.a06703",
                "7c863438.7f7adc"
            ]
        ]
    },
    {
        "id": "7d9b4a12.27a984",
        "type": "function",
        "z": "4746f484.cec88c",
        "name": "Get GPIO",
        "func": "msg.payload = global.get(\"GPIO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "1ae34d13.a06703"
            ]
        ]
    },
    {
        "id": "1ae34d13.a06703",
        "type": "debug",
        "z": "4746f484.cec88c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c863438.7f7adc",
        "type": "http response",
        "z": "4746f484.cec88c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 120,
        "wires": []
    }
]